<div class="fatherBox">
  <div class="secondBox">
    <div class="childBox">
      <div class="thirdBox">
        <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
          <font color="gray">
            username
          </font>
        </span>
        </nav>
      </div>

      <div class="thirdBox">
        <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
          <font color="gray">
            password
          </font>
        </span>
        </nav>
      </div>


      <div class="fourthBox">
        <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
          <font color="#d3d3d3">
            LOGIN
          </font>
        </span>
        </nav>
      </div>

      <div class="fifthhBox">
        <font color="gray"> Not registered?</font>
        <font color="green">Create an account</font>
      </div>
    </div>
  </div>
</div>
