<div class="fatherBox">
  <div class="firstBox">
    <font color="white" size="6">
      美国硅谷一线工程师在线直播授课，为你打开IT名企的大门
    </font>
  </div>
  <div class="secondBox">
    <font color="white" size="5">
      九章算法已经帮助30000+人成功拿到心仪的Offer
    </font>
  </div>
  <div class="thirdBox">
    <div class="demoBox">
      <font color="white">
        VIP集训营
      </font>
    </div>
    <div class="demoBox">
      <font color="white">
        课程
      </font>
    </div>
    <div class="demoBox">
      <font color="white">
        微课堂
      </font>
    </div>
  </div>
</div>
