.fatherBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #667292;
  background-image: linear-gradient(to bottom right, #667292, palevioletred);

}

.firstBox {
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.secondBox {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.thirdBox {
  width: 50%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.demoBox {
  display: flex;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 20%;
  border: solid white;
  justify-content: center;
}
