.container {
  position: relative;
  border: solid lightgreen;
}


nav {
  postion: absolute;
  left: 0px;
  width: 200px;
  border: solid fuchsia;
  float: left;
}

section {
  margin-left: 200px;
  border: solid yellow;
}

body {
  margin-bottom: 120px;
}

p {
  margin-left: 20px;
}

li {
  margin-left: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%
}
